@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Playfair+Display+SC:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Karla:ital,wght@0,500;0,600;1,400;1,500&family=Playfair+Display+SC:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
.imageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin: 2em;
  font-family: 'Karla', sans-serif;
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px; 
  transition: transform 0.3s; 
}


.imageContainer img:hover {
  transform: scale(1.05); 
}

.genreNavItem {
  display: inline-block;
  padding: .5em 1.4em;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-size: .8em;
  color: #fff;
  background-color: #393939;
  border: 2px solid #393939;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  font-family: 'Karla', sans-serif;
}

.genreNavItem:hover {
  background-color: #f0ae27;
  color: #393939;
  transform: scale(1.1); 
}


.genreNavItem.active {
  background-color: #f0ae27;
  border: 2px solid #f0ae27;
  color: #393939;
}

.loading {
  display: grid;
  place-items: center;
  font-size: 1.2em;
  color: #f0ae27;
  margin-top: 5em;
  font-family: 'Karla', sans-serif;
}


.genreNavItem:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

